/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Location]
      ,[AgeIndex]
      ,[Gender]
      ,[Number]
      ,[TotalCost]
      ,[Year]
      ,[Month]
      ,[ServiceCode]
      ,[Age]
      ,[ServiceName]
      ,[ServiceType]
      ,[ServiceTypeKind]
      ,[ServiceTypeKindCode]
      ,[atc]
      ,[atc_l1]
      ,[atc_l2]
      ,[atc_l3]
      ,[atc_l4]
      ,[atc_label]
      ,[atc_l1_label]
      ,[atc_l2_label]
      ,[atc_l3_label]
      ,[atc_l4_label]
      ,[population], COUNT(*)
FROM [ClaimData2_Report].[dbo].[FinalReport]
GROUP BY [Location]
      ,[AgeIndex]
      ,[Gender]
      ,[Number]
      ,[TotalCost]
      ,[Year]
      ,[Month]
      ,[ServiceCode]
      ,[Age]
      ,[ServiceName]
      ,[ServiceType]
      ,[ServiceTypeKind]
      ,[ServiceTypeKindCode]
      ,[atc]
      ,[atc_l1]
      ,[atc_l2]
      ,[atc_l3]
      ,[atc_l4]
      ,[atc_label]
      ,[atc_l1_label]
      ,[atc_l2_label]
      ,[atc_l3_label]
      ,[atc_l4_label]
      ,[population]
HAVING COUNT(*) > 1